@if(isAppVisible()) {
  <div class="container" #container @appAnimation>
    <header>
      Generate Users and check their data
    </header>
    <form class="gen_container" [formGroup]="form" (ngSubmit)="onGenerateUser()">
      <label for="usersNumber">Select a number of users to generate <span>1 - 9</span></label>
      <div class="gen_input">
        <input type="number" formControlName="numberOfUsers" placeholder="Number of users to generate" max="9" min="1" (input)="onInput()" id="usersNumber"/>
        @if(isGen()) {
          <div class="loader"></div>
        } @else {
          <app-btn-default appBtnBg="#0056b3" (click)="onGenerateUser()" type="submit">Generate {{genButtonValue()}}</app-btn-default>
        }
      </div>
    </form>
    @if (!isGen() && users().length > 0) {
      <ul [@userListAnim]>
        <li *ngFor="let user of users(); trackBy: trackByUser">
          <app-user [user]="user" [userNumber]="users().indexOf(user) + 1" [visibleHidden]="visibleHidden"></app-user>
        </li>
      </ul>
    } @else if (isGen()) {
      <p>Generating {{form.controls.numberOfUsers.value! > 1 ? form.controls.numberOfUsers.value + ' more users' : form.controls.numberOfUsers.value + ' more user'}}
        <span class="dot1 dot">.</span>
        <span class="dot2 dot">.</span>
        <span class="dot3 dot">.</span>
      </p>
    }
    @else {
      <p>No users</p>
    }
  </div>
}
